.last{
    visibility: hidden;

}

td.last > *{
    visibility: inherit;

}

body{
    height: 95vh;

}

#form{
    height: 15%;

}

form{
    height: 100%;

}

fieldset{
    height: 100%;
    box-sizing: border-box;
    
}

.fields{
    width: 100%;
    height: 100%;

}

.formLine{
    height: 45%;
    width: 100%;
    display: inline-block;
    
}

.formLine > *{
    max-height: 100%;
    width: auto;

}

input{
    box-sizing: border-box;    
    
}

input.num{
    width: 10%;

}

#deplacement{    
    float: right;
    font-size: 12pt;
    width: 20%;
    visibility: visible;
    
}

#table{
    height: 75%;

}


table{
    height: 100%;
    background-color: #777777;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-size: auto 75vh;

}

td{
    text-align: center;
    background-image: url("https://static.zerochan.net/Zero.Two.%28Darling.in.the.FranXX%29.full.2263353.jpg");
    height: 0px;
    width: 0px;
    background-position: 0% 0%;
    background-size: auto 75vh;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

p{
    font-weight: bold;
    font-size: 24pt;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    visibility: hidden;
    margin: 0px;
    
}
